

table{border:2px double #666;width:500px;height:200px;}
td{border:1px double #666;}
.baike369-1{background-color:red;}
.baike369-2{background-color:#CCC;}
.baike369-3{background-color:#00FF00;}